.root {
  appcolor: #3c3f45;
}
 .app{
  background-color: #3c3f45;
  
 }

.storke-text{
  color: transparent;  
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border:4px solid transparent;
  transition: 300ms all;
  display: flex;
  text-align: center;
  justify-content: center;
}
.btn:hover{
  cursor: pointer;
}